name: Publish
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Type of version bump'
        required: true
        default: 'minor'
permissions:
  id-token: write # Required for OIDC
  contents: write
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: current
          registry-url: 'https://registry.npmjs.org'
      - uses: actions/checkout@v6
      - run: npm install
      - name: Bump Version
        run: |
          git config --global user.name 'Naitik Shah'
          git config --global user.email 'daaku@users.noreply.github.com'
          npm version ${{ github.event.inputs.version }}
          git push && git push --tags
      - run: npm publish
